.crack__main__div {
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgb(255, 220, 220); */
    padding: 2rem 0;
}

.crack__main__div__container {
    height: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 0.0001px solid rgb(185, 185, 185); */
    /* background: #c3e1ff; */

}

.crack__main__div__container button {
    padding: 14px 32px;
    box-sizing: border-box;
    border-radius: 8px;
    background: rgb(60, 72, 82);
    border: 1px solid rgb(60, 72, 82);
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 1rem;
}

.freeTest__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
}

.freeTest__text h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.005em;
    color: #3C4852;
}

.freeTest__sub__btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 0;
    /* border: 1px solid red; */
}

.freeTest__sub__btn {
    width: fit-content;
    height: 40px;
    padding-right: 12px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    border: 1px solid #3C4852;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.freeTest__sub__sub {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center !important;
    justify-content: center;
    background: rgb(231, 227, 255);
    color: rgb(136, 115, 255);
    font-weight: 700;
    border-radius: 50%;
}


.freeTest__text button {
    width: 1rem;
    background: white;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #E9EEF2;
    border-radius: 8px;
    padding: 8px 12px;
    color: #3C4852;
}





.crack__main__div__vdo_container {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    /* border: 1px solid rebeccapurple; */
    padding-top: 1rem;
    box-sizing: border-box;
}

.crack__main__div__vdo__play {
    height: 100%;
    width: auto;
    /* border: 2px solid red; */
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.crack__main__div__vdo__play__view {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 0.2rem 0.2rem;
    box-sizing: border-box;
    border-radius: 3px;
    color: #3C4852;
    background-color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: 600;
}

.crack__main__div__vdo__play__btn {
    position: absolute;
    bottom: 0.7rem;
    right: 1rem;
    /* width: 41.6px;
    height: 41.6px; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    padding: 14px;
    background: #64BEFF33;
    color: rgb(255, 139, 255);
}

.crack__main__div__vdo__info {
    height: auto;
    width: 272px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5rem;
    /* padding-left: 1rem; */
    box-sizing: border-box;

}

.crack__main__div__vdo__chapter__name h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.005em;
}


@media (max-width:820px) {
    .crack__main__div__vdo_container {
        max-width: 90%;
        overflow-y: scroll;
        flex-wrap: nowrap;
        margin: 0 auto;
    }

    .crack__main__div__vdo__playList {
        min-width: 75%;
        margin: 0 0.5rem;
    }

    .crack__main__div__vdo__info {
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .crack__main__div__vdo__play__image {
        width: 100%;
        height: auto;
    }

    .freeTest__sub__btns {
        overflow-y: scroll;
    }
    .freeTest__text {
        padding-left: 1.1rem;
    }
}

@media (max-width:620px) {
    .freeTest__text {
        width: 100%;
        font-size: 20px;
    }

    .crack__main__div__container {
        width: 100%;
    }

    .freeTest__sub__btns {
        /* gap: 0.5rem; */
    }
.crack__main__div__container button {
    width: 90%;
    margin:  1rem;
}
}