.nav__div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
    z-index: 10000000000;
    padding: 1rem;
    box-sizing: border-box;
}

.nav__div__container {
    width: 80%;
    height: auto;
    /* background: #000; */
    position: relative;
    display: flex;
    flex-direction: column;

}

.nav__div__top__container {
    width: 100%;
    padding: 0.5rem 0;
    /* border: 1px solid rgb(0, 255, 242); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.nav__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.nav__input {
    padding-left: 5rem;
}

.nav__input input {
    width: 23rem;
    border: none;
    outline: none;
    border: 0.001px solid rgb(224, 220, 220);
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

.nav__input input:focus {
    border: 0.001px solid rgb(60, 72, 82);

}

.nav__call {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav__gift {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 2px solid rgb(214, 214, 214);
    /* padding: 0.6rem; */
    border-radius: 50%;
    color: rgb(255, 94, 0);
}

.nav__btns button {
    border: none;
    outline: none;
    border: 0.001px solid rgb(60, 72, 82);
    padding: 0.6rem 1.5rem;
    border-radius: 0.3rem;
    font-weight: bold;
    margin: 0 0.25rem;
    background: rgb(60, 72, 82);
    color: white;
}


.nav__div__bottom__container {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    color: white;
    /* padding: 0.5rem 0; */
    position: relative;
}


.nav__link {
    width: 100%;
    text-decoration: none;
    color: #7A8B94;
    margin-right: 1.5rem;
    font-weight: 500;
    display: inline;
}

.nav__link:hover {
    color: rgb(0, 7, 15);
}


/* 

.nav__Link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */





.nav__link__link__vist {
    margin: 0 1.5rem;
    text-decoration: none;
    color: white;
}








@media (max-width:1200px) {
    .nav__input {
        display: none;
    }

    .nav__call {
        display: none;
    }
}

@media (max-width:1120px) {
    .nav__div__container {
        width: 100%;
        padding: 0 0.5rem;
    }
}

@media (max-width:620px) {

.nav__div__top__container {
padding: 1.5rem 0.5rem;

    }



    .nav__btns button {
        height: 34px;
        width: auto;
        font-weight: 400;
        padding: 0 0.7rem;
        /* display: flex; */
        /* flex-direction: row; */
        /* align-items: center; */
        /* justify-content: center; */
    }

    .nav__logo .nav__logo__logo {
        display: none;
    }

    .nav__div__bottom__container {
        max-width: 100%;
    }

    .nav__div__bottom__container__navLink {
        overflow-y: scroll;
        display: none;
    }

    .nav__link {
        max-width: 100% !important;
    }

    .nav__div__top__container {
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__gift {
        height: 40px;
        width: 40px;
    }

    .nav__div {
        padding: 0;
    }
}